@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:400,700')

global-reset()
reset-html5()

// Defaults
font-main = Roboto Slab, sans-serif

body
	background: #eee
	background-size: cover !important
	color: #333
	font: 14px/1.5 font-main
	text-shadow: 0 1px 0 rgba(#fff, .7)

a
	color: #555
	transition: all .1s linear
	&:hover
		color: #333 !important

strong
	font-weight: bold

#contents
	margin: 80px auto 20px auto
	padding: 20px
	max-width: 1000px
	border-radius: 5px
	background: rgba(#fff, .9)
	box-shadow: 0 10px 40px rgba(#000, .5)

	#title
		text-transform: uppercase
		font-size: 38px
		font-weight: bold
		background: rgba(#000, .75)
		color: #fff
		border-radius: 3px
		padding: 10px
		text-shadow: 0 1px 0 rgba(#000, 1)
		text-align: center

	#sidebar
		float: right
		width: 240px
		background: rgba(#000, .2)
		margin: 20px 0 20px 20px
		padding: 10px
		border-radius: 3px
		text-align: center
		min-height: 400px
		#about
			font-weight: bold
		#presentation
			border-top: 1px solid rgba(#000, .3)
			border-bottom: 1px solid rgba(#000, .3)
			margin: 10px 0
			li
				margin: 10px 0

	#argument
		font-weight: bold
		margin: 20px 0
		min-height: 80px
		text-align: left
		font-size: 18px
		.cite
			font-weight: bold !important
		blockquote
			padding: 0 0 0 35px
			border-left: 3px solid #ccc
			margin: 10px 0 20px 0
		p
			font-weight: normal

	#hashtags
			margin: 20px 0
			clear: both
			li
				padding: 3px 10px
				background: rgba(#000, .5)
				border-radius: 3px
				display: inline-block
				margin: 0 10px 0 0
				color: #fff
				text-shadow: 0 1px 0 rgba(#000, 1)

	#reblogs
		color: #666
		li
			margin: 10px 0
			p.insult
				padding: 0 0 0 15px
				border-left: 3px solid #ccc
				margin: 10px 0

#insult
	display: none
	position: absolute
	top: 60px
	left: 0
	right: 0
	bottom: 0
	background: #eee
	font-size: 34px
	font-weight: bold
	p
		display: block
		text-align: center
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)

#controls
	background: #fff
	display: block
	text-align: center
	box-shadow: 0 5px 10px rgba(#000, .5)
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 10
	height: 60px
	line-height: 60px
	&:before,
	&:after
		font-size: 18px
	&:before
		content: '▶▶▶ '
	&:after
		content: ' ◀◀◀'
	button
		background: linear-gradient(top, #eee, #ddd)
		border: 1px solid
		border-color: #ccc #bbb #bbb #ccc
		border-radius: 5px
		cursor: pointer
		font: bold 16px/1.5 font-main
		outline: none
		padding: 8px 40px
		margin: 0 10px
		transition: all .1s linear
		text-shadow: 0 1px 0 rgba(#fff, .5)
		&:hover
			background: linear-gradient(top, darken(#fff, 3), darken(#eee, 3))
			opacity: 1 !important
		&:active
			background: linear-gradient(top, #ddd, #eee)
			border-color: #aaa #ccc #ccc #aaa
		&.generate-blog
			background: linear-gradient(top, #7c5, #6b4)
			border-color: #6a4 #371 #371 #6a4
			&:hover
				background: linear-gradient(top, #8d6, #7c5)
			&:active
				background: linear-gradient(top, #7c5,#8d6)
				border-color: #371 #6a4 #6a4 #371

#footer
	margin: 10px 0 0 0
	text-align: center
	color: rgba(#000, .4)

#forkme
	position: fixed
	top: 0
	right: 0
	z-index: 20
