@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:400,700')

global-reset()
reset-html5()

// Defaults
font-main = Roboto Slab, sans-serif

body
	background: #eee
	background-size: cover !important
	color: #333
	font: 14px/1.5 font-main
	text-shadow: 0 1px 0 rgba(#fff, .5)

a
	color: #555
	transition: all .1s linear
	&:hover
		color: #333 !important

strong
	font-weight: bold

#contents
	background: rgba(#fff, .7)
	margin: 30px auto
	padding: 30px
	text-align: center
	max-width: 900px
	box-shadow: 0 10px 40px rgba(#000, .1)

body.tumblrized
	#contents
		background: rgba(#fff, .9)
		box-shadow: 0 10px 40px rgba(#000, .5)

#argument
	font-size: 24px
	font-weight: bold
	margin: 30px 0
	min-height: 80px
	&.loading
		color: #999
		font-weight: normal

.controls
	margin: 20px 0
	display: block
	button
		background: linear-gradient(top, #fff, #eee)
		border: 1px solid
		border-color: #ddd #ccc #ccc #ddd
		border-radius: 5px
		cursor: pointer
		font: 16px/1.5 font-main
		outline: none
		padding: 15px 50px
		margin: 0 10px
		transition: all .1s linear
		&:active
			background: linear-gradient(top, #ddd, #eee)
			border-color: #aaa #ccc #ccc #aaa
		&:hover
			opacity: 1 !important
		&.tumblrize-grammar
			padding: 10px 30px
			opacity: .4


#footer
	padding: 10px 0 0 0
	text-align: center
	.stats
		margin: 0 0 10px 0
		color: rgba(#000, .4)
	a
		color: rgba(#000, .4) !important
		&:hover
			color: #000 !important
